@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Press+Start+2P&family=Rubik+Vinyl&family=Sigmar+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --title-ff: "Sigmar One", cursive;
  --main-bgc: #6b7db3;
  --square-bgc: #ccd9ff;
}

body {
  background-color: var(--main-bgc);
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 4rem;
}

#title {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 6px;
  font-family: var(--title-ff);
}

.gameboard-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.text-prompt {
  margin-bottom: 2rem;
}

#place-ship {
  color: #00008b;
}

#player-one-board,
#player-two-board {
  display: grid;
  grid-template-columns: repeat(10, 45px);
  border: 1px solid gray;
}

#player-two-board .board-square:not(.miss):not(.hit):hover {
  filter: opacity(65%);
  cursor: pointer;
}

.board-square {
  height: 45px;
  width: 45px;
  border: 1px solid gray;
  background-color: var(--square-bgc);
}

#new-game-poppup {
  margin-top: 5rem;
  position: absolute;
  align-self: center;
  z-index: 3;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-game-poppup span {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 2rem;
}

button#rotate {
  margin-bottom: 3rem;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 40px;
  cursor: pointer;
  min-width: 150px;
}

.visibility {
  visibility: hidden;
}

.ship {
  background-color: #000;
  z-index: 5;
}

.hit,
.miss {
  pointer-events: none;
}

.hit {
  background-color: #ff4d4d;
}

.miss {
  background-color: lightgreen;
}

.game-end {
  pointer-events: none;
}

.ship-selection {
  background-color: #007bff;
}

.game-over-poppup {
  position: fixed;
  min-width: 500px;
  min-height: 350px;
  left: 50%;
  top: 50%;
  border-radius: 8px;
  background-color: var(--square-bgc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 0.4s;
}

.open-end-game-poppup {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.filter-opened {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

button#play-again {
  margin-bottom: 3rem;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 30px 90px;
  cursor: pointer;
}

#winner {
  font-size: 45px;
  margin-bottom: 3rem;
}

button {
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #00008b;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
