@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Press+Start+2P&family=Rubik+Vinyl&family=Sigmar+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --title-ff: "Sigmar One", cursive;
  --main-bgc: #6b7db3;
  --square-bgc: #ccd9ff;
}

body {
  background-color: var(--main-bgc);
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 4rem;
}

#title {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 6px;
  font-family: var(--title-ff);
}

.gameboard-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

#player-one-board,
#player-two-board {
  display: grid;
  grid-template-columns: repeat(10, 45px);
  border: 1px solid gray;
}

#player-two-board .board-square:not(.miss):not(.hit):hover {
  filter: opacity(65%);
  cursor: pointer;
}

.board-square {
  height: 45px;
  width: 45px;
  border: 1px solid gray;
  background-color: var(--square-bgc);
}

#new-game-poppup {
  margin-top: 5rem;
  position: absolute;
  align-self: center;
  z-index: 3;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-game-poppup span {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 2rem;
}

button {
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: purple;
  color: white;
  padding: 10px 40px;
  cursor: pointer;
  min-width: 150px;
}

.visibility {
  visibility: hidden;
}

.ship {
  background-color: #000;
  z-index: 5;
}

.hit,
.miss {
  pointer-events: none;
}

.hit {
  background-color: #ff4d4d;
}

.miss {
  background-color: lightgreen;
}

.game-end {
  pointer-events: none;
}

.ship-selection {
  background-color: rgba(0, 255, 0, 0.5);
}
